{% block content %}
    <a href="/">Regresar</a>
    <div>
        <h1>Juego del ahorcado</h1>
        <form action="" method="post">
            {{ form.hint.label }}
            <br>
            {{ form.word.label }}
            <br>
            {{ form.A() }}
            {{ form.B() }}
            {{ form.C() }}
            {{ form.D() }}
            {{ form.E() }}
            {{ form.F() }}
            {{ form.G() }}
            {{ form.H() }}
            {{ form.I() }}
            {{ form.J() }}
            {{ form.K() }}
            {{ form.L() }}
            {{ form.M() }}
            {{ form.N() }}
            {{ form.O() }}
            {{ form.P() }}
            {{ form.Q() }}
            {{ form.R() }}
            {{ form.S() }}
            {{ form.T() }}
            {{ form.U() }}
            {{ form.V() }}
            {{ form.W() }}
            {{ form.X() }}
            {{ form.Y() }}
            {{ form.Z() }}
            <p>
                {{ form.info.label }}
            </p>
            <p>
                {{ form.message.label }}
            </p>
        </form>
    </div>
{% endblock %}